body {
  background-color: black;
}
/* defining grid layout */
.col-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    margin:  0 21% 0 21%;    
    justify-items: center;   
    grid-gap: 25px;
    padding-top: 10px;
}

/*smaller margin on smaller screen */
@media only screen and (max-width: 1200px) {
  .col-main {
    margin: 0 5% 0 5%;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}

@media only screen and (max-width: 724px) {
  .col-main {
    margin: 0 5% 0 5%;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  }
}
/*image set to 100% */
  .col-1 img{    
    width: 100%;
    height: auto;
  }  

  /* text format on menu */
  .col-1 p{
    color:#ffb800;
    font-weight: 500;
    font-style: italic;
    line-height: 1.6;
    font-size: 1rem;
    font-family: Montserrat,sans-serif;
  }

  .landing {   
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:  0 21% 0 21%;  
    font-size: 2em;
  }

  .landing img {
    max-width: 100%;
    height: auto;    
  }

  .nav {
    display: flex;
    background-color: #ffb800;
    height: 50px;
    justify-content: flex-start;
  }

  .nav-items {
    margin:  0 21% 0 21%;  
  }

  @media only screen and (max-width: 1200px) {
    .nav-items {
      margin: 0 5% 0 5%;
    }
  }


  @media only screen and (max-width: 1200px) {
    .landing {
      text-align: center;
      font-size: 1.5em;
      margin: 0 5% 0 5%;
    }
  }

  @media only screen and (max-width: 1200px) {
    .landing img {
      max-width: 100%;
      height: auto;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    color: #ffb800;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input {
      width: 100%;
      margin-top: 0;
    }
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(231, 216, 216, 0), rgba(219, 203, 203, 0.75), rgba(180, 161, 161, 0));
}

.contact-container {
  margin: 0 21% 0 21%;
}

@media screen and (max-width: 1200px) {
 .contact-container {
   margin: 0 5% 0 5%;
}}