.col-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:  0 10% 0 10%;
    grid-gap: 2em;
}

.col-1 img {
  width: 100%;
  height: auto;
}



@media only screen and (max-width: 800px) {
    .col-main {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width: 800px) {
    .ui centered card {
      width: 100%;
    }
  }

/*@media only screen and (max-width: 600px) {
    .col-main {
      display: block;
    }
  }

  @media only screen and (max-width: 600px) {
    .col-main img {
      width:70%;
      height: auto;
    }
  }*/